# ===== 必填项 =====
MYSQL_ROOT_PASSWORD=
DB_PASSWORD=
LLM_API_KEY=
LLM_MODEL=deepseek-chat
LLM_BASE_URL=https://api.deepseek.com/v1
AGENT_API_KEY=
COZE_PAT=
REDIS_PASSWORD=

# ===== 可选项 =====
SPRING_PROFILES_ACTIVE=prod
